name: Build Plugin

on:
  push:
    branches: [ "main" ]
  pull_request:

jobs:
  build:
    # Prevent CI from running in the TEMPLATE repository itself
    if: github.repository != 'MikiDevAHM/kspigot-plugin-template'

    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Set up JDK 21
        uses: actions/setup-java@v4
        with:
          distribution: temurin
          java-version: 21

      - name: Grant execute permission for Gradle
        run: chmod +x gradlew

      - name: Build with Gradle
        run: ./gradlew build
